.game {
  display: flex;
  flex-direction: column;
}

.board {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}


.hand {
  justify-content: space-between;
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card > div.img {
  background-image: url("http://assets.platyshell.me/ironpond/card.png");
  border: solid 1px black;
  border-bottom: none;
}

.card > div.title {
  border: solid 1px black;
}

.card.selected {
  box-shadow: inset 0 0 0 2000px grey;
}

.square.white {
  background-color: white;
}

.square.black {
  background-color: orange;
}

.square.playable {
  box-shadow: inset 0 0 0 2000px rgba(255, 0, 150, 0.3);
}
